<div style="height: 10rem"></div>
<footer class="bg-dark text-white py-2 px-4 fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 d-flex justify-content-center" style="text-align: left; flex-direction: column;">
                <h2><%= projectName %></h2>
            </div>
            <div class="col-sm-4" style="text-align: center">
                <h3>Links</h3>
                <hr>
                <ul class="list-unstyled" style="text-align: center">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/terms_conditions">Terms & Conditions</a></li>
                    <li><a href="/contact_us">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-4" style="text-align: right">
                <h3>Follow Us</h3>
                <hr>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>