<nav class="navbar fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler btn btn-outline-light toggle-button" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/main"><img src="/images/logo.svg" style="width: 7rem;"></a>
        <span class="me-2"><button class="btn logout opacity-100" data-bs-target="#exampleModal" data-bs-toggle="modal"><a
                        style="color: black" href="#">Log Out</a></button></span>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Welcome <%= fName %>!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/main">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/transfer">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/update_profile">Edit profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/delete_account">Delete account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Loan</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Logout?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button class="btn btn-danger" data-bs-target="#exampleModal" data-bs-toggle="modal"><a
                            style="color: white; text-decoration: none;" href="/">Log Out</a></button>
                </span>
            </div>
        </div>
    </div>
</div>