body {
    background-color: #00c3f9;
    margin: 0;
    background-image: url("/images/register_bank_image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

form {
    font-size: 1.3rem;
    min-width: 700px;
    min-height: 400px;
    margin: 7rem auto;
    padding: 60px 20px 20px 50px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    float: left;
}

label {
    display: block;
    float: left;
    width: 38.33%;
    color: aqua;
}

label, input {
    display: block;
    margin-bottom: 6.66%;
}

input[type="submit"] {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: navy;
    color: rgb(255, 223, 223);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #0053f9;
}

input::placeholder {
    text-align: center;
}

h1 {
    text-align: left;
    color: aqua;
    padding-left: 20px;
}

.confirm{
    margin-bottom: -2rem;
}