<%- include("header") %>

<body>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam commodi debitis dicta dignissimos, dolorum ea
    error
    ex in inventore ipsum laborum maxime nemo neque omnis perspiciatis placeat praesentium quod quos, sunt totam?
    Accusantium asperiores beatae, blanditiis eum eveniet fuga hic libero nulla, provident quasi, sit sunt tempora
    temporibus ut vero?
</p>

</body>

<%- include("footer") %>