<%- include("partials/header") %>
<title><%= projectName %></title>
<link rel="stylesheet" href="/css/apply_loan.css">
<script src="/js/loan_validate.js" defer></script>
</head>

<body>

<%- include("partials/nav_after_login") %>

<form action="/main/loan/apply_loan" method="post">
    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" name="dob" required>
    <label for="amount">Amount:</label>
    <input type="text" id="amount" name="amount" required>
    <label for="radio">Loan Type:</label>
    <label>
        <select required name="loan_type">
            <option id="loantype">
            <option value="Home Loan">Home Loan</option>
            <option value="Personal Loan">Personal Loan</option>
            <option value="Education Loan">Education Loan</option>
            <option value="Vehicle Loan">Vehicle Loan</option>
            <option value="Mortgage Loan">Mortgage Loan</option>
        </select>
    </label>
    <br>
    <label for="reason">Reason for Loan:</label>
    <input type="textarea" id="reason" name="reason" required>
    <input type="submit" value="Save">
</form>

<%- include("partials/footer") %>

</body>