<%- include("partials/header") %>
<title><%= projectName %></title>
<link rel="stylesheet" href="/css/apply_loan.css">
</head>

<body>

<%- include("partials/nav_after_login") %>

<%- include("partials/footer") %>

</body>