<%- include("partials/header") %>
<title><%= projectName %></title>
<link rel="stylesheet" href="/css/home_page.css">
</head>

<body>
<%- include("partials/nav_before_login") %>

<%- include("partials/footer") %>

</body>
</html>