<%- include("header") %>
<link rel="stylesheet" href="bootstrap/css/bootstrap.css" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
<script src="bootstrap/js/bootstrap.js" crossorigin="anonymous" defer></script>
<script src="jquery-3.6.4.js" defer></script>
<title><%= projectName %></title>
</head>

<body>
    <%-include("nav_before_login") %>
</body>

<%- include("footer") %>