<%- include("partials/header") %>
<link rel="stylesheet" href="/css/login.css">
<title><%= projectName %></title>
</head>

<body>

<%-include("partials/nav_before_login") %>

<form action="/login" method="post">
    <label for="account_number">Account Number:</label>
    <input type="text" id="account_number" name="account_number" required placeholder="A/C No.">
    <label for="pasword">Password:</label>
    <input type="password" id="password" name="password" required placeholder="Password">
    <input type="submit" value="Login">
    <div class="sign-up">
        <label for="button" style="margin-bottom: 0">Not Registered Yet!</label>
        <a style="text-decoration: none" href="/registration"><input type="button" value="Sign Up"></a>
    </div>
</form>

<%- include("partials/footer") %>

</body>
</html>