<%- include("partials/header") %>
<link rel="stylesheet" href="/css/style.css">
<title><%= projectName %></title>
</head>

<body>
<%- include("partials/nav_after_login") %>
</body>

<%- include("partials/footer") %>