<%- include("partials/header") %>
<title><%= projectName %></title>
<style>
    body {
        background-color: #f8f8f8;
        font-family: Arial, sans-serif;
        color: #333;
    }
    h1 {
        font-size: 6rem;
        margin-bottom: 1rem;
        color: #f44336;
    }
    h3 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    a {
        display: inline-block;
        padding: 1rem 2rem;
        background-color: #f44336;
        color: #fff;
        text-decoration: none;
        border-radius: 3px;
        transition: all 0.3s ease;
    }
    a:hover {
        background-color: #d32f2f;
    }
</style>
</head>

<body>

<div style="text-align: center; margin-top: 15rem">
    <h1>ERROR 404</h1>
    <h3>Page Not Found....</h3>
    <h4>Looks like you are lost.</h4>
    <a href="/">Click here to return to home page</a>
</div>

</body>
</html>