<%- include("partials/header") %>
<link rel="stylesheet" href="/css/transfer.css">
<title><%= projectName %></title>
</head>

<body>
<%- include("partials/nav_after_login") %>

<div class="container">

    <div class="d-md-flex align-items-center justify-content-around pb-3">
        <div class="content mb-md-0 mb-5">
            <p class="h2">Easily transfer your money to other bank accounts.</p>
            <p class="line"></p>
            <p class="p2">No hassle and completely secure online transfer service.</p>
        </div>
        <form>
            <div class="d-flex flex-column align-items-center">
                <p class="fs-4 fw-bold m-0 mt-4">How much do you want to transfer?</p> <span class="text-muted"></span>
                <span class="line my-3"></span>
            </div>
            <div class="row p-0">
                <div class="col-12 p-0 px-4"><span class="text-uppercase text-muted">amount you want to transfer</span>
                </div>
                <div class="col-12 p-0 px-4 form-spacing"><input type="text" id="amount" aria-label=""
                                                                 class="d-flex align-items-center my-2"
                                                                 placeholder="In INR"></div>
                <div class="col-12 p-0 px-4"><span class="text-uppercase text-muted">Enter to A/C No.</span></div>
                <div class="col-12 p-0 px-4 form-spacing"><input type="text" id="accountNumber" aria-label=""
                                                                 class="d-flex align-items-center my-2"
                                                                 placeholder="A/C No">
                </div>
                <p></p>
                <h1></h1>
                <div class="col-12 p-0 px-4">
                    <button class="btn btn-primary w-100">Transfer</button>
                    <div class="text-muted mb-4 mt-3" style="font-weight: normal">Once you click transfer, money will be
                        deducted from
                        your account.
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

</body>

<%- include("partials/footer") %>